src/flows/Admin_Transfer_Object_Ownership.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Record_Totals</name>
        <label>Get Record Totals</label>
        <locationX>680</locationX>
        <locationY>332</locationY>
        <actionName>Flow_TransferOwnership</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>oldOwnerId</name>
            <value>
                <elementReference>Old_Owner_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>total</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>programCodes</name>
            <value>
                <elementReference>Program_Codes</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newOwnerId</name>
            <value>
                <elementReference>New_Owner_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectsTypes</name>
            <value>
                <elementReference>Objects_Checkbox</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Record_Totals</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Transfer_Ownership_of_Records</name>
        <label>Transfer Ownership of Records</label>
        <locationX>1050</locationX>
        <locationY>332</locationY>
        <actionName>Flow_TransferOwnership</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Results_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>programCodes</name>
            <value>
                <elementReference>Program_Codes</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oldOwnerId</name>
            <value>
                <elementReference>Old_Owner_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newOwnerId</name>
            <value>
                <elementReference>New_Owner_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectsTypes</name>
            <value>
                <elementReference>Objects_Checkbox</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>transfer</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Apex_Confirmation_Message</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <choices>
        <name>Program_Codes_Choice</name>
        <choiceText>Program Code(s)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Program Code(s)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Record_Owner_Choice</name>
        <choiceText>Record Owner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Record Owner</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transfer_Cases</name>
        <choiceText>Transfer Cases</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transfer Cases</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transfer_Opportunities</name>
        <choiceText>Transfer Opportunities</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transfer Opportunities</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transfer_Tasks</name>
        <choiceText>Transfer Tasks</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transfer Tasks</stringValue>
        </value>
    </choices>
    <description>Allows admins to transfer Opportunities, Cases, and Task in bulk</description>
    <interviewLabel>Admin: Transfer Object Ownership {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Admin: Transfer Record Ownership</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>862</locationX>
        <locationY>332</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Transfer_Ownership_of_Records</targetReference>
        </connector>
        <fields>
            <name>Confirmation_Message</name>
            <fieldText>&lt;p&gt;{!Record_Totals}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Options_Screen</name>
        <label>Determine Objects to Transfer</label>
        <locationX>497</locationX>
        <locationY>332</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Record_Totals</targetReference>
        </connector>
        <fields>
            <name>Objects_Checkbox</name>
            <choiceReferences>Transfer_Opportunities</choiceReferences>
            <choiceReferences>Transfer_Cases</choiceReferences>
            <choiceReferences>Transfer_Tasks</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What records would you like to transfer? (Select one or more)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Search_Criteria</name>
            <choiceReferences>Record_Owner_Choice</choiceReferences>
            <choiceReferences>Program_Codes_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What search criteria would you like to use? (Select one or more)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Program_Codes</name>
            <dataType>String</dataType>
            <fieldText>Program Codes (Comma Separated)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Search_Criteria</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>Program_Codes_Choice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Old_Owner_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Old Owner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Submitted_By__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Old_Owner_Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Search_Criteria</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>Record_Owner_Choice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Owner_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Submitted_By__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>New Owner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>New_Owner_Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Restrictions_Message</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;u&gt;Default Criteria&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Opportunities:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Stage does not equal Prospect, Enrolled or File Closed.&lt;/li&gt;&lt;li&gt;Includes opportunities with &quot;Override Ownership&quot; checked. (that box will become unchecked after the transfer)&lt;/li&gt;&lt;li&gt;Limit 10,000 Opportunities.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Cases:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Owner role name contains &quot;Post-trad&quot; or &quot;CAS&quot;.&lt;/li&gt;&lt;li&gt;Status does not equal &quot;Closed&quot;.&lt;/li&gt;&lt;li&gt;Limit 10,000 Cases.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Tasks:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Owner role name contains &quot;Post-trad&quot; or &quot;CAS&quot;.&lt;/li&gt;&lt;li&gt;Status does not equal &quot;Completed&quot;.&lt;/li&gt;&lt;li&gt;Limit 10,000 Tasks attached to Cases.&lt;/li&gt;&lt;li&gt;Limit 10,000 Tasks attached to Opportunities.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Results_Screen</name>
        <label>Results Screen</label>
        <locationX>1230</locationX>
        <locationY>332</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message_Component</name>
            <fieldText>&lt;p&gt;{!Apex_Confirmation_Message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>311</locationX>
        <locationY>332</locationY>
        <connector>
            <targetReference>Options_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Apex_Confirmation_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_Owner_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Old_Owner_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Record_Totals</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
