src/flows/Bulk_Texting.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Create_SMS_Records</name>
        <label>Create SMS Records</label>
        <locationX>1390</locationX>
        <locationY>55</locationY>
        <actionName>CreateBulkSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Results</targetReference>
        </connector>
        <inputParameters>
            <name>smsMessage</name>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reportName</name>
            <value>
                <elementReference>Reports</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>gateway</name>
            <value>
                <elementReference>Gateway</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>apex_results</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Number_of_Contacts</name>
        <label>Get Number of Contacts</label>
        <locationX>1111</locationX>
        <locationY>55</locationY>
        <actionName>GetContactsFromReport</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>ReportName</name>
            <value>
                <elementReference>Reports</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>number_of_contacts</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <choices>
        <name>choice_campaign_members</name>
        <choiceText>Members of a Campaign</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Members of a Campaign</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_contacts_funnel</name>
        <choiceText>Contacts in my Funnel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contacts in my Funnel</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_contacts_report</name>
        <choiceText>Contacts from a Saved Report</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contacts from a Saved Report</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Admin_Decision</name>
        <label>Admin Decision</label>
        <locationX>614</locationX>
        <locationY>149</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Campaign_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_campaign_members</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Campaign</targetReference>
            </connector>
            <label>Campaign Chosen</label>
        </rules>
        <rules>
            <name>Report_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_contacts_report</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Report</targetReference>
            </connector>
            <label>Report Chosen</label>
        </rules>
        <rules>
            <name>Funnel_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_contacts_funnel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Criteria</targetReference>
            </connector>
            <label>Funnel Chosen</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Type</name>
        <label>User Type</label>
        <locationX>177</locationX>
        <locationY>322</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Normal_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>user_role</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Admin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Criteria</targetReference>
            </connector>
            <label>Normal User</label>
        </rules>
        <rules>
            <name>Admin_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>user_role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Admin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Admin_Choices</targetReference>
            </connector>
            <label>Admin User</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>bulk_text_reports</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>FolderName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bulk Texting</stringValue>
            </value>
        </filters>
        <object>Report</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>gateway_list</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Mogli_SMS__Gateway__c</object>
        <outputAssignments>
            <assignToReference>GatewayID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Opportunities that match the criteria provided by user</description>
        <name>matching_opps</name>
        <dataType>String</dataType>
        <displayField>Id</displayField>
        <filters>
            <field>Academic_Term__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Term</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Opp_Stage_Detail</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Stage_Detail__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>terms_list</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Academic_Term__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>Mogli_number</name>
        <dataType>String</dataType>
        <expression>{!current_opp.Contact__r.Mogli_SMS__Mogli_Number__c}</expression>
    </formulas>
    <formulas>
        <name>related_contact</name>
        <dataType>String</dataType>
        <expression>{!current_opp.Contact__c}</expression>
    </formulas>
    <formulas>
        <name>user_role</name>
        <dataType>String</dataType>
        <expression>{!$UserRole.Name}</expression>
    </formulas>
    <interviewLabel>Bulk Texting {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bulk Texting</label>
    <loops>
        <name>Interate</name>
        <label>Iterate Opportunities</label>
        <locationX>785</locationX>
        <locationY>488</locationY>
        <assignNextValueToReference>current_opp</assignNextValueToReference>
        <collectionReference>Matching_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_SMS</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_SMS</name>
        <label>Create SMS</label>
        <locationX>981</locationX>
        <locationY>489</locationY>
        <inputAssignments>
            <field>Mogli_SMS__Contact__c</field>
            <value>
                <elementReference>related_contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mogli_SMS__Message__c</field>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mogli_SMS__Phone_Number__c</field>
            <value>
                <elementReference>Mogli_number</elementReference>
            </value>
        </inputAssignments>
        <object>Mogli_SMS__SMS__c</object>
    </recordCreates>
    <recordLookups>
        <name>Matching_Opportunities</name>
        <label>Matching Opportunities</label>
        <locationX>627</locationX>
        <locationY>486</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirm_Matching_Opps</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Ben Test</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Admin_Choices</name>
        <label>Admin Choices</label>
        <locationX>469</locationX>
        <locationY>147</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Admin_Decision</targetReference>
        </connector>
        <fields>
            <name>admin_instructions</name>
            <fieldText>&lt;p&gt;Who would you like to send a Bulk text message to? &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contact_Options</name>
            <choiceReferences>choice_campaign_members</choiceReferences>
            <choiceReferences>choice_contacts_report</choiceReferences>
            <choiceReferences>choice_contacts_funnel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contact Options</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_Campaign</name>
        <label>Choose Campaign</label>
        <locationX>846</locationX>
        <locationY>219</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_Report</name>
        <label>Choose Report</label>
        <locationX>853</locationX>
        <locationY>55</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Parameters</targetReference>
        </connector>
        <fields>
            <name>Reports</name>
            <choiceReferences>bulk_text_reports</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reports</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Matching_Opps</name>
        <label>Confirm Matching Opps</label>
        <locationX>712</locationX>
        <locationY>740</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>funnel_confirm_message</name>
            <fieldText>&lt;p&gt;{!Matching_Opportunities}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Stage_Detail}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Term}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>1246</locationX>
        <locationY>55</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_SMS_Records</targetReference>
        </connector>
        <fields>
            <name>display_text_opps</name>
            <fieldText>&lt;p&gt;You are about to send a text message to {!number_of_contacts} contacts. Click Next to proceed. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Criteria</name>
        <label>Funnel Criteria</label>
        <locationX>471</locationX>
        <locationY>486</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Matching_Opportunities</targetReference>
        </connector>
        <fields>
            <name>Stage_Detail</name>
            <choiceReferences>Opp_Stage_Detail</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stage Detail</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Term</name>
            <choiceReferences>terms_list</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Academic Term</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Academic_Term_Picklist</name>
            <choiceReferences>terms_list</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Academic Term</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>funnel_message</name>
            <dataType>String</dataType>
            <fieldText>Message</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>funnel_gateway</name>
            <choiceReferences>gateway_list</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gateway</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Parameters</name>
        <label>Get Parameters</label>
        <locationX>987</locationX>
        <locationY>55</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Number_of_Contacts</targetReference>
        </connector>
        <fields>
            <name>Message</name>
            <dataType>String</dataType>
            <fieldText>Message</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Gateway</name>
            <choiceReferences>gateway_list</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gateway</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Results</name>
        <label>Results</label>
        <locationX>1516</locationX>
        <locationY>55</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>results_text</name>
            <fieldText>&lt;p&gt;{!apex_results}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>320</locationY>
        <connector>
            <targetReference>User_Type</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>apex_result</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Report</objectType>
    </variables>
    <variables>
        <name>apex_results</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>current_opp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>GatewayID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>matching_contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Matching_Opportunities.Contact__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>number_of_contacts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>returned_contacts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>returned_contacts2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
