src/flows/Bulk_SMS.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Create_SMS_Records</name>
        <label>Create SMS Records</label>
        <locationX>2140</locationX>
        <locationY>419</locationY>
        <actionName>Flow_BulkSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Results_For_Funnel</targetReference>
        </connector>
        <inputParameters>
            <name>registrationStatus</name>
            <value>
                <elementReference>Registration_Statuses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <elementReference>Request_Type</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>gateway</name>
            <value>
                <elementReference>Gateway_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>smsMessage</name>
            <value>
                <elementReference>Final_Message_To_Send</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>initiator</name>
            <value>
                <elementReference>User_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stageDetails</name>
            <value>
                <elementReference>Stage_Details_Picklist</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>campaignId</name>
            <value>
                <elementReference>Campaign_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reportId</name>
            <value>
                <elementReference>Report_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestedTerms</name>
            <value>
                <elementReference>Academic_Term_Picklist</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Apex_Results</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Total_Number_Of_Contacts</name>
        <label>Get Number of Contacts</label>
        <locationX>1592</locationX>
        <locationY>594</locationY>
        <actionName>Flow_BulkSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_For_Empty_Results</targetReference>
        </connector>
        <inputParameters>
            <name>registrationStatus</name>
            <value>
                <elementReference>Registration_Statuses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>{!Request_Type} total</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>gateway</name>
            <value>
                <elementReference>Gateway_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>smsMessage</name>
            <value>
                <elementReference>Final_Message_To_Send</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>initiator</name>
            <value>
                <elementReference>User_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stageDetails</name>
            <value>
                <elementReference>Stage_Details_Picklist</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>campaignId</name>
            <value>
                <elementReference>Campaign_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reportId</name>
            <value>
                <elementReference>Report_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestedTerms</name>
            <value>
                <elementReference>Academic_Term_Picklist</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Total_Contacts</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_All_Terms</name>
        <label>Assign All Terms</label>
        <locationX>549</locationX>
        <locationY>785</locationY>
        <assignmentItems>
            <assignToReference>My_CAPS_GS_Terms</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CAPS/GS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_Undergraduate_Terms</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_SEM_Terms</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SEM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Campaign_Variables</name>
        <label>Assign Campaign Variables</label>
        <locationX>1440</locationX>
        <locationY>594</locationY>
        <assignmentItems>
            <assignToReference>Final_Message_To_Send</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message_For_Campaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Request_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>campaign</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Total_Number_Of_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Funnel_Variables</name>
        <label>Assign Funnel Variables</label>
        <locationX>1592</locationX>
        <locationY>812</locationY>
        <assignmentItems>
            <assignToReference>Final_Message_To_Send</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message_For_Funnel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Request_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>funnel</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Total_Number_Of_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Post_Trad_Terms</name>
        <label>Assign Post-Trad Terms</label>
        <locationX>550</locationX>
        <locationY>549</locationY>
        <assignmentItems>
            <assignToReference>My_CAPS_GS_Terms</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CAPS/GS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_SEM_Terms</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SEM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Report_Variables</name>
        <label>Assign Report Variables</label>
        <locationX>1592</locationX>
        <locationY>387</locationY>
        <assignmentItems>
            <assignToReference>Final_Message_To_Send</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message_For_Report</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Request_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>report</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Total_Number_Of_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Undergraduate_Terms</name>
        <label>Assign Undergraduate Terms</label>
        <locationX>458</locationX>
        <locationY>672</locationY>
        <assignmentItems>
            <assignToReference>My_Undergraduate_Terms</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CAS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Contacts_Found_Message</name>
        <label>No Contacts Found Message</label>
        <locationX>1960</locationX>
        <locationY>595</locationY>
        <assignmentItems>
            <assignToReference>Apex_Results</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Results_For_Funnel</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_All_Terms</name>
        <choiceText>Include All Terms</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Include All Terms</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Campaign_Members</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Members of a Campaign&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Members of a Campaign</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Contacts_Funnel</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Contacts in my Funnel&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contacts in my Funnel</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Contacts_Report</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Contacts from a Saved Report&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contacts from a Saved Report</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Admin_Decision</name>
        <label>Admin Decision</label>
        <locationX>1014</locationX>
        <locationY>595</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Admin_Picked_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Options_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Campaign_Members</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_Parameters</targetReference>
            </connector>
            <label>Admin Picked Campaign</label>
        </rules>
        <rules>
            <name>Admin_Picked_Report</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Options_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Contacts_Report</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Report_Parameters</targetReference>
            </connector>
            <label>Admin Picked Report</label>
        </rules>
        <rules>
            <name>Admin_Picked_Funnel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Options_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Contacts_Funnel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Funnel_Parameters</targetReference>
            </connector>
            <label>Admin Picked Funnel</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Empty_Results</name>
        <label>Check For Empty Results</label>
        <locationX>1750</locationX>
        <locationY>596</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty_Results</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Total_Contacts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Contacts Found</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Total_Contacts</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>FLOW ERROR:</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Contacts_Found_Message</targetReference>
            </connector>
            <label>Empty Results</label>
        </rules>
        <rules>
            <name>Results_Returned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Total_Contacts</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No Contacts Found</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Report_Confirmation_Screen</targetReference>
            </connector>
            <label>Results Returned</label>
        </rules>
    </decisions>
    <decisions>
        <name>School_College</name>
        <label>School / College</label>
        <locationX>187</locationX>
        <locationY>672</locationY>
        <defaultConnector>
            <targetReference>Assign_All_Terms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CAS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Role</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Undergraduate_Terms</targetReference>
            </connector>
            <label>CAS</label>
        </rules>
        <rules>
            <name>POST_TRAD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Role</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Post-Trad</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Post_Trad_Terms</targetReference>
            </connector>
            <label>POST-TRAD</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Type</name>
        <label>User Type</label>
        <locationX>628</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Admin_Choices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Normal_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Role</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Admin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User_Role</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Admissions - CAS Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User_Role</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Post-Trad - Lead</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User_Role</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Marketing - Executive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User_Role</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Admissions - CAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User_Role</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Admissions - Post-Trad</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Funnel_Parameters</targetReference>
            </connector>
            <label>Normal User</label>
        </rules>
    </decisions>
    <description>Used to send text messages in bulk</description>
    <dynamicChoiceSets>
        <name>All_Academic_Terms</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>My_Undergraduate_Terms</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>My_CAPS_GS_Terms</elementReference>
            </value>
        </filters>
        <filters>
            <field>Term_Start_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Term_Start_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Term_Cap</elementReference>
            </value>
        </filters>
        <object>Academic_Term__c</object>
        <sortField>Term_Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>All_Stage_Details</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Stage_Detail__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CAPS_GS_Terms</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>My_CAPS_GS_Terms</elementReference>
            </value>
        </filters>
        <filters>
            <field>Term_Start_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Term_Start_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Term_Cap</elementReference>
            </value>
        </filters>
        <object>Academic_Term__c</object>
        <sortField>Term_Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CAS_Terms</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>My_Undergraduate_Terms</elementReference>
            </value>
        </filters>
        <filters>
            <field>Term_Start_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Term_Cap</elementReference>
            </value>
        </filters>
        <filters>
            <field>Term_Start_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>Academic_Term__c</object>
        <sortField>Term_Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Registration_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Registration_Status__c</picklistField>
        <picklistObject>CampaignMember</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Report</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>FolderName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bulk Texting</stringValue>
            </value>
        </filters>
        <object>Report</object>
        <outputAssignments>
            <assignToReference>Report_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Gateway_List</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Mogli_SMS__Gateway__c</object>
        <outputAssignments>
            <assignToReference>Gateway_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>My_Gateway_Junctions</name>
        <dataType>String</dataType>
        <displayField>Assigned_Gateway_Name__c</displayField>
        <filters>
            <field>Mogli_SMS__Assigned_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Id</elementReference>
            </value>
        </filters>
        <object>Mogli_SMS__GatewayToUserJunc__c</object>
        <outputAssignments>
            <assignToReference>Gateway_ID</assignToReference>
            <field>Mogli_SMS__Assigned_Gateway__c</field>
        </outputAssignments>
        <valueField>Assigned_Gateway_Name__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SEM_Terms</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>My_SEM_Terms</elementReference>
            </value>
        </filters>
        <filters>
            <field>Term_Start_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Term_Start_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Term_Cap</elementReference>
            </value>
        </filters>
        <object>Academic_Term__c</object>
        <sortField>Term_Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>Number_Of_Contacts</name>
        <dataType>Number</dataType>
        <expression>LEN({!Total_Contacts}) - LEN(SUBSTITUTE({!Total_Contacts}, &quot;;&quot;, &quot;&quot;))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Term_Cap</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 720</expression>
    </formulas>
    <formulas>
        <name>User_Id</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>User_Role</name>
        <dataType>String</dataType>
        <expression>{!$UserRole.Name}</expression>
    </formulas>
    <interviewLabel>Bulk SMS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bulk Texting</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Admin_Choices</name>
        <label>Admin Choices</label>
        <locationX>862</locationX>
        <locationY>593</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Admin_Decision</targetReference>
        </connector>
        <fields>
            <name>Admin_Choices_Instructions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Who would you like to send a Bulk text message to?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contact_Options_Picklist</name>
            <choiceReferences>Choice_Campaign_Members</choiceReferences>
            <choiceReferences>Choice_Contacts_Funnel</choiceReferences>
            <choiceReferences>Choice_Contacts_Report</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contact Options</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Need Help? &lt;/span&gt;&lt;a href=&quot;https://confluence.bethel.edu/x/mgE2Aw&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Click here for instructions&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Campaign_Parameters</name>
        <label>Get Campaign Parameters</label>
        <locationX>1292</locationX>
        <locationY>594</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Campaign_Variables</targetReference>
        </connector>
        <fields>
            <name>Message_For_Campaign</name>
            <dataType>String</dataType>
            <fieldText>Message</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Message must be less than 160 characters&lt;/p&gt;</errorMessage>
                <formulaExpression>Len({!Message_For_Campaign}) &lt; 160</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Gateway_For_Campaign</name>
            <choiceReferences>My_Gateway_Junctions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gateway</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Campaign_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Event_Log__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Campaign</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Campaign__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Campaign_ID</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Registration_Statuses</name>
            <choiceReferences>Choice_Registration_Status</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Registration Statuses</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Campaign_Instructions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Need Help? &lt;/span&gt;&lt;a href=&quot;https://confluence.bethel.edu/x/mgE2Aw&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Click here for instructions&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Funnel_Parameters</name>
        <label>Get Funnel Parameters</label>
        <locationX>1021</locationX>
        <locationY>812</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Funnel_Variables</targetReference>
        </connector>
        <fields>
            <name>Gateway_For_Funnel_Picklist</name>
            <choiceReferences>My_Gateway_Junctions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gateway</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Message_For_Funnel</name>
            <dataType>String</dataType>
            <fieldText>Message</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Message must be less than 160 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>Len({!Message_For_Funnel}) &lt; 160</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Stage_Details_Picklist</name>
            <choiceReferences>All_Stage_Details</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stage Detail(s)</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Academic_Term_Picklist</name>
            <choiceReferences>CAS_Terms</choiceReferences>
            <choiceReferences>CAPS_GS_Terms</choiceReferences>
            <choiceReferences>SEM_Terms</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Academic Term</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Funnel_Instructions</name>
            <fieldText>&lt;p&gt;Need Help? &lt;a href=&quot;https://confluence.bethel.edu/x/mgE2Aw&quot; target=&quot;_blank&quot;&gt;Click here for instructions&lt;/a&gt;. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Report_Parameters</name>
        <label>Get Report Parameters</label>
        <locationX>1022</locationX>
        <locationY>387</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Report_Variables</targetReference>
        </connector>
        <fields>
            <name>Message_For_Report</name>
            <dataType>String</dataType>
            <fieldText>Message</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Message must be less than 160 characters&lt;/p&gt;</errorMessage>
                <formulaExpression>Len({!Message_For_Report}) &lt; 160</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Gateway_For_Report_Picklist</name>
            <choiceReferences>My_Gateway_Junctions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gateway</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Report_Picklist</name>
            <choiceReferences>Choice_Report</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Report</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Report_Instructions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Need Help? &lt;/span&gt;&lt;a href=&quot;https://confluence.bethel.edu/x/mgE2Aw&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Click here for instructions&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Report_Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>1757</locationX>
        <locationY>419</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_SMS_Records</targetReference>
        </connector>
        <fields>
            <name>Display_Text_Confirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;You are about to send a text message to &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Number_Of_Contacts}&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; contacts. Click &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Next&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; to proceed sending.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Total_Contacts} &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Results_For_Funnel</name>
        <label>Results</label>
        <locationX>2140</locationX>
        <locationY>595</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Text_Results_Funnel</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Apex_Results}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>670</locationY>
        <connector>
            <targetReference>School_College</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Apex_Results</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Campaign_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Final_Message_To_Send</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Hello</stringValue>
        </value>
    </variables>
    <variables>
        <name>Gateway_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>My_CAPS_GS_Terms</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>null</stringValue>
        </value>
    </variables>
    <variables>
        <name>My_SEM_Terms</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>null</stringValue>
        </value>
    </variables>
    <variables>
        <name>My_Undergraduate_Terms</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>null</stringValue>
        </value>
    </variables>
    <variables>
        <name>Report_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Request_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>none</stringValue>
        </value>
    </variables>
    <variables>
        <name>Total_Contacts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
