src/flows/Contact_Set_Preferred_Phone.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>sets preferred phone to home</description>
        <name>HomePref</name>
        <label>HomePref</label>
        <locationX>882</locationX>
        <locationY>165</locationY>
        <assignmentItems>
            <assignToReference>Contact.hed__PreferredPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Home</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>sets preferred phone to mobile</description>
        <name>MobilePref</name>
        <label>MobilePref</label>
        <locationX>759</locationX>
        <locationY>66</locationY>
        <assignmentItems>
            <assignToReference>Contact.hed__PreferredPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mobile</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets Phone to blank if there are no other numbers.</description>
        <name>NoPhone</name>
        <label>NoPhone</label>
        <locationX>749</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Contact.Phone</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>sets preferred phone to other</description>
        <name>OtherPref</name>
        <label>OtherPref</label>
        <locationX>816</locationX>
        <locationY>443</locationY>
        <assignmentItems>
            <assignToReference>Contact.hed__PreferredPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>sets preferred phone to work</description>
        <name>WorkPref</name>
        <label>WorkPref</label>
        <locationX>883</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>Contact.hed__PreferredPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Work</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>determines what phone type should be preferred based on which values exist</description>
        <name>Determine_Preferred_Phone</name>
        <label>Preferred Phone</label>
        <locationX>752</locationX>
        <locationY>240</locationY>
        <defaultConnector>
            <targetReference>NoPhone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Phone</defaultConnectorLabel>
        <rules>
            <name>Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact.MobilePhone</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>MobilePref</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
        <rules>
            <name>Home</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact.HomePhone</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>HomePref</targetReference>
            </connector>
            <label>Home</label>
        </rules>
        <rules>
            <name>Work</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact.hed__WorkPhone__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>WorkPref</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact.OtherPhone</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>OtherPref</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <decisions>
        <description>determines if the preferred phone field on the contact is blank and needs to be updated.</description>
        <name>IsPreferredBlank</name>
        <label>Is Preferred Blank</label>
        <locationX>369</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Determine_Preferred_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Blank</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact.hed__PreferredPhone__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>VerifyPreferred</targetReference>
            </connector>
            <label>Is Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <description>outcomes are true if the preferred phone picklist&apos;s matching phone field is blank</description>
        <name>VerifyPreferred</name>
        <label>VerifyPreferred</label>
        <locationX>371</locationX>
        <locationY>364</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MobileMissing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact.hed__PreferredPhone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.MobilePhone</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Determine_Preferred_Phone</targetReference>
            </connector>
            <label>Mobile Missing</label>
        </rules>
        <rules>
            <name>Home_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact.hed__PreferredPhone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.HomePhone</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Determine_Preferred_Phone</targetReference>
            </connector>
            <label>Home Missing</label>
        </rules>
        <rules>
            <name>Work_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact.hed__PreferredPhone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.hed__WorkPhone__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Determine_Preferred_Phone</targetReference>
            </connector>
            <label>Work Missing</label>
        </rules>
        <rules>
            <name>Other_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact.hed__PreferredPhone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.OtherPhone</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Determine_Preferred_Phone</targetReference>
            </connector>
            <label>Other Missing</label>
        </rules>
    </decisions>
    <interviewLabel>Contact: Set Preferred Phone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact: Set Preferred Phone</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>222</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsPreferredBlank</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>hed__PreferredPhone__c</queriedFields>
        <queriedFields>hed__WorkPhone__c</queriedFields>
        <queriedFields>HomePhone</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>OtherPhone</queriedFields>
        <queriedFields>Phone</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>1229</locationX>
        <locationY>229</locationY>
        <inputReference>Contact</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
