src/flows/Delete_Files.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Document_To_List</name>
        <label>Add Document To List</label>
        <locationX>623</locationX>
        <locationY>546</locationY>
        <assignmentItems>
            <assignToReference>All_Content_Documents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Current_Document</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>All_Content_Document_Titles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Current_Document.Title</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_List_Of_Document_Ids</name>
        <label>Get List Of Document Ids</label>
        <locationX>446</locationX>
        <locationY>517</locationY>
        <assignmentItems>
            <assignToReference>AllContentDocumentIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Current_Link.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Links</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_Document_Titles</name>
        <choiceText>{!All_Content_Document_Titles}</choiceText>
        <dataType>String</dataType>
    </choices>
    <interviewLabel>Delete Files {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Files</label>
    <loops>
        <name>Loop_Through_Documents</name>
        <label>Loop Through Documents</label>
        <locationX>625</locationX>
        <locationY>179</locationY>
        <assignNextValueToReference>Current_Document_Id</assignNextValueToReference>
        <collectionReference>AllContentDocumentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Current_Document</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Screen_Get_Files</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Links</name>
        <label>Loop through Links</label>
        <locationX>445</locationX>
        <locationY>181</locationY>
        <assignNextValueToReference>Current_Link</assignNextValueToReference>
        <collectionReference>AllContentDocumentLinks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_List_Of_Document_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Documents</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_ContentDocument</name>
        <label>Delete ContentDocument</label>
        <locationX>1022</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Delete_ContentDocumentLink</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContentDocumentId</elementReference>
            </value>
        </filters>
        <object>ContentDocument</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_ContentDocumentLink</name>
        <label>Delete ContentDocumentLink</label>
        <locationX>1305</locationX>
        <locationY>108</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DocumentLinkId</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_ContentDocumentLink</name>
        <label>Get ContentDocumentLink</label>
        <locationX>267</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Links</targetReference>
        </connector>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
        <outputReference>AllContentDocumentLinks</outputReference>
        <queriedFields>ContentDocumentId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Document</name>
        <label>Get Current Document</label>
        <locationX>625</locationX>
        <locationY>404</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Document_To_List</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_Document_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_Get_Files</name>
        <label>Screen Get Files</label>
        <locationX>841</locationX>
        <locationY>178</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Select_one_or_more_files_to_delete</name>
            <choiceReferences>Choice_Document_Titles</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select one or more files to delete.</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>181</locationY>
        <connector>
            <targetReference>Get_ContentDocumentLink</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>All_Content_Document_Titles</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>All_Content_Documents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>AllContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AllContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ContentDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Current_Document_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Current_Link</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>Document_Names</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DocumentLinkId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
