src/flows/Family_Member_Create_Relationship_Record.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>If the email is blank on family member record, put in a @blackhole.bethel.edu email. It will be removed by workflows, but the Interaction and Contact will still be created.</description>
        <name>Set_email_to_blackhole_if_blank</name>
        <label>Set email to @blackhole if blank</label>
        <locationX>609</locationX>
        <locationY>17</locationY>
        <assignmentItems>
            <assignToReference>FamilyMemberRecord.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>family@blackhole.bethel.edu</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Address_Different_Than_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Related_Contact_Id_Variable</name>
        <label>Set Related Contact Id Variable</label>
        <locationX>263</locationX>
        <locationY>401</locationY>
        <assignmentItems>
            <assignToReference>RelatedContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FamilyMemberRecord.Related_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Relationship</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_RelatedContactID_from_Interaction</name>
        <label>Set RelatedContactID from Interaction</label>
        <locationX>834</locationX>
        <locationY>956</locationY>
        <assignmentItems>
            <assignToReference>RelatedContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interaction.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Put_RelatedContactID_in_Family_Member</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Interaction_Was_Created_with_Contact</name>
        <label>Interaction Was Created with Contact</label>
        <locationX>820</locationX>
        <locationY>670</locationY>
        <defaultConnectorLabel>Contact Lookup Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Contact_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Interaction.Interaction_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imported</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Interaction.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_RelatedContactID_from_Interaction</targetReference>
            </connector>
            <label>Contact Lookup Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Address_Different_Than_Contact</name>
        <label>Is Address Different Than Contact</label>
        <locationX>601</locationX>
        <locationY>209</locationY>
        <defaultConnector>
            <targetReference>Get_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>AddressDifferentYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FamilyMemberRecord.Is_Address_Different_Than_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Interaction</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Email_Empty</name>
        <label>Is Email Empty</label>
        <locationX>427</locationX>
        <locationY>126</locationY>
        <defaultConnector>
            <targetReference>Is_Address_Different_Than_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesEmailEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FamilyMemberRecord.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_email_to_blackhole_if_blank</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is the Related Contact field on the new Family Member record null?</description>
        <name>Related_Contact_is_Null</name>
        <label>Related Contact is Null</label>
        <locationX>261</locationX>
        <locationY>204</locationY>
        <defaultConnector>
            <targetReference>Set_Related_Contact_Id_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FamilyMemberRecord.Related_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Email_Empty</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Family Member: Create Relationship Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Family Member: Create Relationship Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Interaction</name>
        <label>Create Interaction</label>
        <locationX>813</locationX>
        <locationY>204</locationY>
        <assignRecordIdToReference>InteractionId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_New_Interaction</targetReference>
        </connector>
        <inputAssignments>
            <field>Age__c</field>
            <value>
                <elementReference>FamilyMemberRecord.Age__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>FamilyMemberRecord.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>FamilyMemberRecord.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>High_School_Graduation_Year__c</field>
            <value>
                <elementReference>FamilyMemberRecord.High_School_Graduation_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home_Phone__c</field>
            <value>
                <elementReference>FamilyMemberRecord.Home_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interaction_Source__c</field>
            <value>
                <stringValue>Family Member Create</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>FamilyMemberRecord.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_City__c</field>
            <value>
                <elementReference>FamilyMemberRecord.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Country__c</field>
            <value>
                <elementReference>FamilyMemberRecord.CountryCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Postal_Code__c</field>
            <value>
                <elementReference>FamilyMemberRecord.PostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_State__c</field>
            <value>
                <elementReference>FamilyMemberRecord.StateCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Street__c</field>
            <value>
                <elementReference>FamilyMemberRecord.Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Phone__c</field>
            <value>
                <elementReference>FamilyMemberRecord.Mobile_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation__c</field>
            <value>
                <elementReference>FamilyMemberRecord.Salutation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Phone__c</field>
            <value>
                <elementReference>FamilyMemberRecord.Work_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Interaction__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Interaction_0</name>
        <label>Create Interaction</label>
        <locationX>608</locationX>
        <locationY>533</locationY>
        <assignRecordIdToReference>InteractionId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_New_Interaction</targetReference>
        </connector>
        <inputAssignments>
            <field>Age__c</field>
            <value>
                <elementReference>FamilyMemberRecord.Age__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>FamilyMemberRecord.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>FamilyMemberRecord.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>High_School_Graduation_Year__c</field>
            <value>
                <elementReference>FamilyMemberRecord.High_School_Graduation_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home_Phone__c</field>
            <value>
                <elementReference>FamilyMemberRecord.Home_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interaction_Source__c</field>
            <value>
                <stringValue>Family Member Create</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>FamilyMemberRecord.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_City__c</field>
            <value>
                <elementReference>Contact.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Country__c</field>
            <value>
                <elementReference>Contact.MailingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Postal_Code__c</field>
            <value>
                <elementReference>Contact.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_State__c</field>
            <value>
                <elementReference>Contact.MailingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Street__c</field>
            <value>
                <elementReference>Contact.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Phone__c</field>
            <value>
                <elementReference>FamilyMemberRecord.Mobile_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation__c</field>
            <value>
                <elementReference>FamilyMemberRecord.Salutation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Phone__c</field>
            <value>
                <elementReference>FamilyMemberRecord.Work_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Interaction__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Relationship</name>
        <label>Create Relationship</label>
        <locationX>262</locationX>
        <locationY>957</locationY>
        <inputAssignments>
            <field>hed__Contact__c</field>
            <value>
                <elementReference>FamilyMemberRecord.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__RelatedContact__c</field>
            <value>
                <elementReference>RelatedContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Type__c</field>
            <value>
                <elementReference>FamilyMemberRecord.Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Relationship__c</object>
    </recordCreates>
    <recordLookups>
        <description>Get contact so we can save address info</description>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>609</locationX>
        <locationY>400</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Interaction_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FamilyMemberRecord.Contact__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Family_Member_Info</name>
        <label>Get Family Member Info</label>
        <locationX>50</locationX>
        <locationY>196</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Contact_is_Null</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>Family_Member__c</object>
        <outputReference>FamilyMemberRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Related_Contact__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Salutation__c</queriedFields>
        <queriedFields>First_Name__c</queriedFields>
        <queriedFields>Last_Name__c</queriedFields>
        <queriedFields>Address__c</queriedFields>
        <queriedFields>Street__c</queriedFields>
        <queriedFields>Is_Address_Different_Than_Contact__c</queriedFields>
        <queriedFields>City__c</queriedFields>
        <queriedFields>StateCode__c</queriedFields>
        <queriedFields>PostalCode__c</queriedFields>
        <queriedFields>CountryCode__c</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Home_Phone__c</queriedFields>
        <queriedFields>Mobile_Phone__c</queriedFields>
        <queriedFields>Work_Phone__c</queriedFields>
        <queriedFields>Age__c</queriedFields>
        <queriedFields>High_School_Graduation_Year__c</queriedFields>
        <queriedFields>Occupation__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Interaction</name>
        <label>Get New Interaction</label>
        <locationX>825</locationX>
        <locationY>530</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Interaction_Was_Created_with_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InteractionId</elementReference>
            </value>
        </filters>
        <object>Interaction__c</object>
        <outputReference>Interaction</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Interaction_Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Put_RelatedContactID_in_Family_Member</name>
        <label>Put RelatedContactID in Family Member</label>
        <locationX>583</locationX>
        <locationY>957</locationY>
        <connector>
            <targetReference>Create_Relationship</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Related_Contact__c</field>
            <value>
                <elementReference>RelatedContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Family_Member__c</object>
    </recordUpdates>
    <startElementReference>Get_Family_Member_Info</startElementReference>
    <status>Active</status>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>FamilyMemberRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Family_Member__c</objectType>
    </variables>
    <variables>
        <name>Interaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interaction__c</objectType>
    </variables>
    <variables>
        <name>InteractionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Passed in from Process Builder</description>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelatedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
