src/flows/Incoming_SMS_Alert.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_Chatter</name>
        <label>Post to Chatter</label>
        <locationX>1178</locationX>
        <locationY>235</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>reLaunch</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Event.Mogli_SMS__Message__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>reLaunch</name>
        <label>reLaunch</label>
        <locationX>1327</locationX>
        <locationY>235</locationY>
        <actionName>IncomingSMSFlowLauncher</actionName>
        <actionType>apex</actionType>
    </actionCalls>
    <assignments>
        <name>Assign_Contact_Owner</name>
        <label>Assign Contact Owner</label>
        <locationX>922</locationX>
        <locationY>53</locationY>
        <assignmentItems>
            <assignToReference>OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Chatter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Owner</name>
        <label>Assign Lead Owner</label>
        <locationX>922</locationX>
        <locationY>235</locationY>
        <assignmentItems>
            <assignToReference>OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Chatter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Owner</name>
        <label>Assign Opportunity Owner</label>
        <locationX>926</locationX>
        <locationY>421</locationY>
        <assignmentItems>
            <assignToReference>OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Chatter</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Object_Lookup</name>
        <label>Object Lookup</label>
        <locationX>409</locationX>
        <locationY>237</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IF_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Event.Mogli_SMS__Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>&apos;&apos;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Record</targetReference>
            </connector>
            <label>IF Contact</label>
        </rules>
        <rules>
            <name>IF_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Event.Mogli_SMS__Lead__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>&apos;&apos;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead_Record</targetReference>
            </connector>
            <label>IF Lead</label>
        </rules>
        <rules>
            <name>IF_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Event.Mogli_SMS__Opportunity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>&apos;&apos;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Record</targetReference>
            </connector>
            <label>IF Opportunity</label>
        </rules>
    </decisions>
    <interviewLabel>Incoming_SMS_Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Incoming_SMS_Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>690</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Contact_Owner</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Event.Mogli_SMS__Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Record</name>
        <label>Get Lead Record</label>
        <locationX>692</locationX>
        <locationY>235</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Lead_Owner</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Event.Mogli_SMS__Lead__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>695</locationX>
        <locationY>421</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Opportunity_Owner</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Event.Mogli_SMS__Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>41</locationX>
        <locationY>232</locationY>
        <connector>
            <targetReference>Wait_for_PE</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Event</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Mogli_SMS__Incoming_SMS__e</objectType>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <waits>
        <name>Wait_for_PE</name>
        <label>Wait for PE</label>
        <locationX>207</locationX>
        <locationY>232</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>PE_Received</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Object_Lookup</targetReference>
            </connector>
            <eventType>Mogli_SMS__Incoming_SMS__e</eventType>
            <label>PE Received</label>
            <outputParameters>
                <assignToReference>Event</assignToReference>
                <name>Mogli_SMS__Incoming_SMS__e</name>
            </outputParameters>
        </waitEvents>
    </waits>
</Flow>
