src/flows/Interaction_Creation_from_Mogli.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Adult_Undergraduate</name>
        <label>Adult Undergraduate</label>
        <locationX>663</locationX>
        <locationY>680</locationY>
        <assignmentItems>
            <assignToReference>SchoolCollege</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Adult Undergraduate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Major</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuestionResponse.Mogli_SMS__Response__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Q_Responses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_Double_Miss1</name>
        <label>Default Double Miss</label>
        <locationX>990</locationX>
        <locationY>669</locationY>
        <assignmentItems>
            <assignToReference>DefaultDoubleMiss</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Default Double Miss</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Q_Responses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Email2</name>
        <label>Email</label>
        <locationX>367</locationX>
        <locationY>766</locationY>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuestionResponse.Mogli_SMS__Response__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Q_Responses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FirstName1</name>
        <label>FirstName</label>
        <locationX>181</locationX>
        <locationY>633</locationY>
        <assignmentItems>
            <assignToReference>FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuestionResponse.Mogli_SMS__Response__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Q_Responses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Grad_Year1</name>
        <label>Grad Year</label>
        <locationX>473</locationX>
        <locationY>610</locationY>
        <assignmentItems>
            <assignToReference>GradYear</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuestionResponse.Mogli_SMS__Response__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SchoolCollege</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Undergraduate</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Q_Responses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Graduate1</name>
        <label>Graduate</label>
        <locationX>659</locationX>
        <locationY>810</locationY>
        <assignmentItems>
            <assignToReference>SchoolCollege</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Graduate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Major</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuestionResponse.Mogli_SMS__Response__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Q_Responses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LastName1</name>
        <label>LastName</label>
        <locationX>273</locationX>
        <locationY>700</locationY>
        <assignmentItems>
            <assignToReference>LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuestionResponse.Mogli_SMS__Response__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Q_Responses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Major2</name>
        <label>Major</label>
        <locationX>470</locationX>
        <locationY>736</locationY>
        <assignmentItems>
            <assignToReference>Major</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuestionResponse.Mogli_SMS__Response__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Q_Responses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Seminary_Program1</name>
        <label>Seminary Program</label>
        <locationX>742</locationX>
        <locationY>562</locationY>
        <assignmentItems>
            <assignToReference>SchoolCollege</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Seminary</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Major</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuestionResponse.Mogli_SMS__Response__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Q_Responses</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Double_Miss_Reached</name>
        <label>Double Miss Reached?</label>
        <locationX>687</locationX>
        <locationY>46</locationY>
        <defaultConnector>
            <targetReference>Create_Interaction_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DefaultDoubleMiss</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Question_Template_Name</name>
        <label>Question Template Name</label>
        <locationX>160</locationX>
        <locationY>258</locationY>
        <defaultConnector>
            <targetReference>Review_Q_Responses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QTemplateName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1.0 - First Name</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FirstName1</targetReference>
            </connector>
            <label>First Name</label>
        </rules>
        <rules>
            <name>Last_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QTemplateName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2.0 - Last Name</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LastName1</targetReference>
            </connector>
            <label>Last Name</label>
        </rules>
        <rules>
            <name>Email1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QTemplateName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3.0 - Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QuestionResponse.Mogli_SMS__Response__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QuestionResponse.Mogli_SMS__Response__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email2</targetReference>
            </connector>
            <label>Email</label>
        </rules>
        <rules>
            <name>Grad_Year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QTemplateName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5.1 - High School Grad Year</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Grad_Year1</targetReference>
            </connector>
            <label>Grad Year</label>
        </rules>
        <rules>
            <name>Major1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QTemplateName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7.0 - Major</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Major2</targetReference>
            </connector>
            <label>Major</label>
        </rules>
        <rules>
            <name>Seminary_Program</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QTemplateName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6.0 - Seminary Program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Seminary_Program1</targetReference>
            </connector>
            <label>Seminary Program</label>
        </rules>
        <rules>
            <name>Graduate_Program</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QTemplateName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6.1 - Graduate Program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Graduate1</targetReference>
            </connector>
            <label>Graduate Program</label>
        </rules>
        <rules>
            <name>Adult_Undergraduate_Program</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QTemplateName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6.2 - Adult Undergraduate Program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Adult_Undergraduate</targetReference>
            </connector>
            <label>Adult Undergraduate Program</label>
        </rules>
        <rules>
            <name>Default_Double_Miss</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QTemplateName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Default Double Miss</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_Double_Miss1</targetReference>
            </connector>
            <label>Default Double Miss</label>
        </rules>
    </decisions>
    <formulas>
        <name>MogliNumberFormula</name>
        <dataType>String</dataType>
        <expression>MID({!FormMogliNumber}, 3, LEN({!FormMogliNumber}))</expression>
    </formulas>
    <interviewLabel>Interaction Creation from Mogli {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Interaction Creation from Mogli</label>
    <loops>
        <name>Review_Q_Responses</name>
        <label>Review Q Responses</label>
        <locationX>287</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>QuestionResponse</assignNextValueToReference>
        <collectionReference>ListQResponses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_Name_of_Question_Template</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Double_Miss_Reached</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Interaction_Record</name>
        <label>Create Interaction Record</label>
        <locationX>859</locationX>
        <locationY>43</locationY>
        <assignRecordIdToReference>NewInteractionID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Flow_Complete</targetReference>
        </connector>
        <inputAssignments>
            <field>All_Academic_Interests__c</field>
            <value>
                <elementReference>Major</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>High_School_Graduation_Year__c</field>
            <value>
                <elementReference>GradYear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interaction_Mogli_Number__c</field>
            <value>
                <elementReference>FormMogliNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source__c</field>
            <value>
                <stringValue>Text</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>School_College__c</field>
            <value>
                <elementReference>SchoolCollege</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Detail__c</field>
            <value>
                <stringValue>Text</stringValue>
            </value>
        </inputAssignments>
        <object>Interaction__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Name_of_Question_Template</name>
        <label>Find Name of Question Template</label>
        <locationX>52</locationX>
        <locationY>330</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Question_Template_Name</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuestionResponse.Mogli_SMS__QuestionTemplate__c</elementReference>
            </value>
        </filters>
        <object>Mogli_SMS__QuestionTemplate__c</object>
        <outputAssignments>
            <assignToReference>QTemplateName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Question_Responses</name>
        <label>Find Question Responses</label>
        <locationX>137</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Review_Q_Responses</targetReference>
        </connector>
        <filters>
            <field>Mogli_SMS__Form__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StartingForm</elementReference>
            </value>
        </filters>
        <object>Mogli_SMS__QuestionResponse__c</object>
        <outputReference>ListQResponses</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LastModifiedById</queriedFields>
        <queriedFields>Mogli_SMS__Question_Text__c</queriedFields>
        <queriedFields>Mogli_SMS__QuestionTemplate__c</queriedFields>
        <queriedFields>Mogli_SMS__Response__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Flow_Complete</name>
        <label>Update Flow Complete</label>
        <locationX>1006</locationX>
        <locationY>196</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StartingForm</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Complete__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Mogli_SMS__Form__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Find_Question_Responses</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AdultUndergrad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AUGGradSeminary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DefaultDoubleMiss</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FormMogliNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Graduate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GradYear</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListQResponses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Mogli_SMS__QuestionResponse__c</objectType>
    </variables>
    <variables>
        <name>Major</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MatchedInteraction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interaction__c</objectType>
    </variables>
    <variables>
        <name>NewContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewInteractionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProgramConsidering</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuestionResponse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Mogli_SMS__QuestionResponse__c</objectType>
    </variables>
    <variables>
        <name>SchoolCollege</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SeminaryProgram</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StartingForm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
