src/flows/Move_Tasks_Between_Opportunities.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Increment_Counter</name>
        <label>Increment Counter</label>
        <locationX>945</locationX>
        <locationY>172</locationY>
        <assignmentItems>
            <assignToReference>Number_Of_Tasks</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_WhatId</name>
        <label>Set WhatId</label>
        <locationX>945</locationX>
        <locationY>449</locationY>
        <assignmentItems>
            <assignToReference>Current_Task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Opportunity_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Current_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_If_Task_Was_Selected</name>
        <label>Determine If Task Was Selected</label>
        <locationX>763</locationX>
        <locationY>451</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tasks_To_Move</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Current_Task.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_WhatId</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Task_Choices</name>
        <dataType>String</dataType>
        <displayField>Subject</displayField>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Move Tasks Between Opportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transfer Tasks Between Opportunities</label>
    <loops>
        <name>Loop_Through_Tasks</name>
        <label>Loop Through Tasks</label>
        <locationX>770</locationX>
        <locationY>104</locationY>
        <assignNextValueToReference>Current_Task</assignNextValueToReference>
        <collectionReference>All_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Determine_If_Task_Was_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Confirmation_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Tasks</name>
        <label>Get Tasks</label>
        <locationX>577</locationX>
        <locationY>104</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Tasks</targetReference>
        </connector>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>All_Tasks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WhatId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_Task</name>
        <label>Update Current Task</label>
        <locationX>946</locationX>
        <locationY>310</locationY>
        <connector>
            <targetReference>Increment_Counter</targetReference>
        </connector>
        <inputReference>Current_Task</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>1114</locationX>
        <locationY>96</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirmation_Message</name>
            <fieldText>&lt;p&gt;Successfully transferred {!Number_Of_Tasks} tasks to &lt;a href=&quot;https://bethel-university.lightning.force.com/{!New_Opportunity_Id}&quot; target=&quot;_blank&quot;&gt;Opportunity ID: {!New_Opportunity_Id}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pick_Tasks_to_Transfer</name>
        <label>Pick Tasks to Transfer</label>
        <locationX>421</locationX>
        <locationY>103</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Tasks</targetReference>
        </connector>
        <fields>
            <name>Tasks_To_Move</name>
            <choiceReferences>Task_Choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What Tasks Would You Like To Transfer?</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_Opportunity_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Opportunity__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Interaction__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>New Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>New_Opportunity_Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>95</locationX>
        <locationY>104</locationY>
        <connector>
            <targetReference>Pick_Tasks_to_Transfer</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>All_Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Current_Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>New_Opportunity_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Number_Of_Tasks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Tasks_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
