src/flows/Opportunity_Change_Terms.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Copy_Fields</name>
        <label>Copy Fields</label>
        <locationX>332</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>New_Opp.Academic_Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Old_Opp.Academic_Program__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clone_Opportunity</targetReference>
        </connector>
    </assignments>
    <description>Clones an Opportunity to a new Term, and attaches the related Application to the new Opportunity.</description>
    <interviewLabel>Opportunity: Change Terms {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Change Terms</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Clone_Opportunity</name>
        <label>Clone Opportunity</label>
        <locationX>460</locationX>
        <locationY>50</locationY>
        <inputReference>New_Opp</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>206</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_Fields</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Old_Opp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Academic_Program__c</queriedFields>
    </recordLookups>
    <startElementReference>Get_Opportunity</startElementReference>
    <status>Draft</status>
    <variables>
        <name>New_Opp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Old_Opp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
