src/flows/Reference_Send_Reminder_Email.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Update_Send_Reference</name>
        <label>Update Send Reference</label>
        <locationX>451</locationX>
        <locationY>75</locationY>
        <assignmentItems>
            <assignToReference>RequirementResponses.Send_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequirementResponses.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequirementResponseID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Requirements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Send_Reminder</name>
        <label>Update Send Reminder: True</label>
        <locationX>556</locationX>
        <locationY>146</locationY>
        <assignmentItems>
            <assignToReference>RequirementResponses.Send_Reminder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequirementResponses.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequirementResponseID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Requirements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Send_Reminder_False</name>
        <label>Update Send Reminder: False</label>
        <locationX>821</locationX>
        <locationY>301</locationY>
        <assignmentItems>
            <assignToReference>RequirementResponses.Send_Reminder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>False</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequirementResponses.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequirementResponseID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Requirements</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>external_email</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>Is_RequirementResponseID_Null</name>
        <label>Is RequirementResponseID Null</label>
        <locationX>301</locationX>
        <locationY>375</locationY>
        <defaultConnector>
            <targetReference>Send_Reference_Checked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_rrid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequirementResponseID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Could_not_send</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Reference_Checked</name>
        <label>Send Reference Checked</label>
        <locationX>268</locationX>
        <locationY>174</locationY>
        <defaultConnector>
            <targetReference>Update_Send_Reference</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SendReferenceValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Reminder_is_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Reminder_is_True</name>
        <label>Send Reminder is True</label>
        <locationX>548</locationX>
        <locationY>338</locationY>
        <defaultConnector>
            <targetReference>Could_not_send</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Value</defaultConnectorLabel>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>current_send_reminder_value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Send_Reminder</targetReference>
            </connector>
            <label>False</label>
        </rules>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>current_send_reminder_value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Send_Reminder_False</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <interviewLabel>Reference: Send Reminder Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reference: Send Reminder Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Requirement_Response</name>
        <label>Get Requirement Response</label>
        <locationX>123</locationX>
        <locationY>235</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_RequirementResponseID_Null</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Could_not_send</targetReference>
        </faultConnector>
        <filters>
            <field>Application_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Application_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>External_Email__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Reference__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Requirement_Response__c</object>
        <outputAssignments>
            <assignToReference>external_email_value</assignToReference>
            <field>External_Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RequirementResponseID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SendReferenceValue</assignToReference>
            <field>Send_Reference__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>current_send_reminder_value</assignToReference>
            <field>Send_Reminder__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Requirements</name>
        <label>Update Requirements</label>
        <locationX>1051</locationX>
        <locationY>76</locationY>
        <connector>
            <targetReference>Reminder_Sent_Message</targetReference>
        </connector>
        <inputReference>RequirementResponses</inputReference>
    </recordUpdates>
    <screens>
        <name>Could_not_send</name>
        <label>Could not send</label>
        <locationX>307</locationX>
        <locationY>837</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>could_not_send_text</name>
            <fieldText>{!could_not_send_text_content}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <pausedText>Could not send reminder email</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reminder_Sent_Message</name>
        <label>Reminder Sent Message</label>
        <locationX>1172</locationX>
        <locationY>248</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ReminderEmailSentToText</name>
            <fieldText>Reminder email sent to: 

{!external_email_value}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_Requirement_Response</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>could_not_send_text_content</name>
        <text>Could not send reminder email. Application not at Submitted?</text>
    </textTemplates>
    <variables>
        <name>current_send_reminder_value</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>external_email_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewSendReminderValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RequirementResponseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RequirementResponses</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Requirement_Response__c</objectType>
    </variables>
    <variables>
        <name>SendReferenceValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
