src/flows/Screen_Clean_Test_Applicants.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <dynamicChoiceSets>
        <name>test_applicants</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ZZ</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Screen: Clean Test Applicants {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen: Clean Test Applicants</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Apps</name>
        <label>Delete Apps</label>
        <locationX>422</locationX>
        <locationY>80</locationY>
        <connector>
            <targetReference>Delete_Opps</targetReference>
        </connector>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </filters>
        <object>Application__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Opps</name>
        <label>Delete Opps</label>
        <locationX>559</locationX>
        <locationY>80</locationY>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
    </recordDeletes>
    <screens>
        <name>Clean_Test_Applicant</name>
        <label>Clean Test Applicant</label>
        <locationX>265</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Delete_Apps</targetReference>
        </connector>
        <fields>
            <name>text_instructions</name>
            <fieldText>&lt;p&gt;Record selected will have &lt;b&gt;&lt;i&gt;all&lt;/i&gt;&lt;/b&gt; Applications and Opportunities deleted. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>pick_Test_Applicants</name>
            <choiceReferences>test_applicants</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Test Applicants</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Clean_Test_Applicant</startElementReference>
    <status>Active</status>
</Flow>
