src/flows/SMS_Notifications.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_User</name>
        <label>Notify User</label>
        <locationX>1740</locationX>
        <locationY>813</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Mark_Notification_Sent</targetReference>
        </connector>
        <faultConnector>
            <targetReference>relaunch_flow</targetReference>
        </faultConnector>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>vNotificationTypeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Notification_Body_Text</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Notification_Subject_Text</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>vUserIdCol</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>vSenderId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>calls apex class Flow_SMSNotificationLauncher that relaunches this flow.</description>
        <name>relaunch_flow</name>
        <label>relaunch flow</label>
        <locationX>1478</locationX>
        <locationY>1004</locationY>
        <actionName>Flow_SMSNotificationLauncher</actionName>
        <actionType>apex</actionType>
    </actionCalls>
    <actionCalls>
        <name>send_Email</name>
        <label>send Email</label>
        <locationX>1477</locationX>
        <locationY>619</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>have_User_Ids</targetReference>
        </connector>
        <faultConnector>
            <targetReference>relaunch_flow</targetReference>
        </faultConnector>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Notification_Subject_Text</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>vEmailAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Notification_Email_Body_Text</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce@bethel.edu</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>add_email</name>
        <label>add email</label>
        <locationX>1144</locationX>
        <locationY>627</locationY>
        <assignmentItems>
            <assignToReference>vEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetSMS.Mogli_SMS__Gateway__r.Notification_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>have_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_User_Email</name>
        <label>add User Email</label>
        <locationX>1482</locationX>
        <locationY>456</locationY>
        <assignmentItems>
            <assignToReference>vEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vUserEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>has_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_User_Id</name>
        <label>add User Id</label>
        <locationX>1631</locationX>
        <locationY>456</locationY>
        <assignmentItems>
            <assignToReference>vUserIdCol</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_User_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_User_Id_0</name>
        <label>add User Id</label>
        <locationX>1317</locationX>
        <locationY>346</locationY>
        <assignmentItems>
            <assignToReference>vUserIdCol</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>has_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_text_anon</name>
        <label>update Subject Anonymous</label>
        <locationX>1142</locationX>
        <locationY>52</locationY>
        <assignmentItems>
            <assignToReference>vNotificationSubjectText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Text from Anonymous</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>has_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Text_SSR</name>
        <label>assign Subject Text SSR</label>
        <locationX>878</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>vNotificationSubjectText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Text - {!fActiveProgramName} - {!Get_Contact.Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>has_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Text_Standard</name>
        <label>assign Subject Text</label>
        <locationX>881</locationX>
        <locationY>219</locationY>
        <assignmentItems>
            <assignToReference>vNotificationSubjectText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Text from {!Get_Contact.Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>has_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_contact_info</name>
        <label>set Contact info</label>
        <locationX>569</locationX>
        <locationY>343</locationY>
        <assignmentItems>
            <assignToReference>vSenderName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSenderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>department</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Lead_info</name>
        <label>set Lead info</label>
        <locationX>871</locationX>
        <locationY>52</locationY>
        <assignmentItems>
            <assignToReference>vSenderName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSenderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_text_anon</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determine if sender is a Contact or Lead</description>
        <name>Contact_or_Lead</name>
        <label>Contact or Lead</label>
        <locationX>559</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Get_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isLead</defaultConnectorLabel>
        <rules>
            <name>isContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSMS.Mogli_SMS__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>isContact</label>
        </rules>
    </decisions>
    <decisions>
        <description>determines the department that owns the texted Gateway</description>
        <name>department</name>
        <label>Department</label>
        <locationX>724</locationX>
        <locationY>283</locationY>
        <defaultConnector>
            <targetReference>assign_Text_Standard</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>not SSR</defaultConnectorLabel>
        <rules>
            <name>is_SSR_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSMS.Mogli_SMS__Gateway__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SSR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Text_SSR</targetReference>
            </connector>
            <label>is SSR</label>
        </rules>
    </decisions>
    <decisions>
        <description>Whether the Gateway has a notification email set.</description>
        <name>has_Email</name>
        <label>has Email</label>
        <locationX>1135</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>have_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no Email</defaultConnectorLabel>
        <rules>
            <name>has_Email_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSMS.Mogli_SMS__Gateway__r.Notification_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_email</targetReference>
            </connector>
            <label>has Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Notification_Id</name>
        <label>Has Notification Id</label>
        <locationX>1552</locationX>
        <locationY>738</locationY>
        <defaultConnector>
            <targetReference>Mark_Notification_Sent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Id</defaultConnectorLabel>
        <rules>
            <name>Outcome_Has_Notification_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vNotificationTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_User</targetReference>
            </connector>
            <label>Has Notification Id</label>
        </rules>
    </decisions>
    <decisions>
        <description>Whether the gateway has a given user to notify</description>
        <name>has_User</name>
        <label>has User</label>
        <locationX>1136</locationX>
        <locationY>228</locationY>
        <defaultConnector>
            <targetReference>has_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>noUser</defaultConnectorLabel>
        <rules>
            <name>has_User_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSMS.Mogli_SMS__Gateway__r.User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User</targetReference>
            </connector>
            <label>has User</label>
        </rules>
    </decisions>
    <decisions>
        <description>Are there any Emails to notify?</description>
        <name>have_Email</name>
        <label>have Email</label>
        <locationX>1311</locationX>
        <locationY>622</locationY>
        <defaultConnector>
            <targetReference>have_User_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Email</defaultConnectorLabel>
        <rules>
            <name>outcome_has_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vEmailAddresses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>send_Email</targetReference>
            </connector>
            <label>Has Email</label>
        </rules>
    </decisions>
    <decisions>
        <description>Are there any users to notify via Salesforce?</description>
        <name>have_User_Ids</name>
        <label>have User Ids</label>
        <locationX>1388</locationX>
        <locationY>798</locationY>
        <defaultConnector>
            <targetReference>Mark_Notification_Sent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No IDs</defaultConnectorLabel>
        <rules>
            <name>outcome_Has_IDs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vUserIdCol</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Notification_Id</targetReference>
            </connector>
            <label>Has IDs</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decide which notifications to send based on Notification User Preference on Gateway</description>
        <name>Notification_Preference</name>
        <label>Notification Preference</label>
        <locationX>1476</locationX>
        <locationY>235</locationY>
        <defaultConnector>
            <targetReference>add_User_Id_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SF</defaultConnectorLabel>
        <rules>
            <name>SF_and_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSMS.Mogli_SMS__Gateway__r.Notification_User_Preference__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetSMS.Mogli_SMS__Gateway__r.Notification_User_Preference__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Notification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_User_Id</targetReference>
            </connector>
            <label>SF and Email</label>
        </rules>
        <rules>
            <name>Outcome_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSMS.Mogli_SMS__Gateway__r.Notification_User_Preference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_User_Email</targetReference>
            </connector>
            <label>Email</label>
        </rules>
    </decisions>
    <formulas>
        <name>fActiveProgramName</name>
        <dataType>String</dataType>
        <expression>{!Get_Contact.Primary_Academic_Program__r.Name}</expression>
    </formulas>
    <formulas>
        <name>fInstanceUrl</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Bethel_Settings__c.Instance_URL__c}</expression>
    </formulas>
    <formulas>
        <name>fPrimaryProgramCode</name>
        <dataType>String</dataType>
        <expression>{!Get_Contact.Primary_Academic_Program__r.Program_Code__c}</expression>
    </formulas>
    <interviewLabel>SMS Notification v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SMS Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>570</locationX>
        <locationY>210</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_contact_info</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetSMS.Mogli_SMS__Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Primary_Academic_Program__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>If there is no contact found, get lead from SMS</description>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>765</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_Lead_info</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetSMS.Mogli_SMS__Lead__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>retrieves custom notification type Id</description>
        <name>get_Notification_Type_Id</name>
        <label>get Notification Type Id</label>
        <locationX>340</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSMS</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
        <outputAssignments>
            <assignToReference>vNotificationTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>1320</locationX>
        <locationY>226</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notification_Preference</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetSMS.Mogli_SMS__Gateway__r.User__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>vUserDepartment</assignToReference>
            <field>Department</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vUserEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vUserFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vUserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Retrieve SMS data</description>
        <name>GetSMS</name>
        <label>Get SMS</label>
        <locationX>447</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_or_Lead</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Event.Mogli_SMS__SMS_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Mogli_SMS__SMS__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Sets the Notification Sent checkbox on the SMS record to True.</description>
        <name>Mark_Notification_Sent</name>
        <label>Mark Notification Sent</label>
        <locationX>1642</locationX>
        <locationY>923</locationY>
        <connector>
            <targetReference>relaunch_flow</targetReference>
        </connector>
        <faultConnector>
            <targetReference>relaunch_flow</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Event.Mogli_SMS__SMS_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Notification_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Mogli_SMS__SMS__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Wait_for_Platform_Event</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Notification_Body_Text</name>
        <text>{!vSenderName} says:
&quot;{!GetSMS.Mogli_SMS__Message__c}&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>Notification_Email_Body_Text</name>
        <text>{!vSenderName} says:
&quot;{!GetSMS.Mogli_SMS__Message__c}&quot;
Respond: {!fInstanceUrl}/{!vSenderId}
----------------
Please do not respond to this email.</text>
    </textTemplates>
    <textTemplates>
        <name>Notification_Subject_Text</name>
        <text>{!vNotificationSubjectText}</text>
    </textTemplates>
    <textTemplates>
        <name>text_error_email_body</name>
        <text>Error in flow {!$Flow.InterviewGuid}
Fault: {!$Flow.FaultMessage}
Stage: {!$Flow.CurrentStage}
----------
Resource Values (In order retrieved)
NotificationTypeId: {!vNotificationTypeId}
SMS Record: {!GetSMS.Id}
SenderId: {!vSenderId}
SenderName: {!vSenderName}
User: {!vUserId}, {!vUserEmail}
Gateway: {!GetSMS.Mogli_SMS__Gateway__r.Name}
Notification Preference: {!GetSMS.Mogli_SMS__Gateway__r.Notification_User_Preference__c}
All Emails: {!vEmailAddresses}</text>
    </textTemplates>
    <variables>
        <name>Event</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Mogli_SMS__Incoming_SMS__e</objectType>
    </variables>
    <variables>
        <name>vEmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vNotificationSubjectText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vNotificationTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores ContactId or LeadId</description>
        <name>vSenderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>stores Contact Name or Anonymous for Text Template</description>
        <name>vSenderName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vUserDepartment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vUserEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vUserFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vUserIdCol</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <description>Waits for the mogli platform event to fire</description>
        <name>Wait_for_Platform_Event</name>
        <label>Wait for Platform Event</label>
        <locationX>168</locationX>
        <locationY>51</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Wait_for_PE</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>get_Notification_Type_Id</targetReference>
            </connector>
            <eventType>Mogli_SMS__Incoming_SMS__e</eventType>
            <label>Wait for PE</label>
            <outputParameters>
                <assignToReference>Event</assignToReference>
                <name>Mogli_SMS__Incoming_SMS__e</name>
            </outputParameters>
        </waitEvents>
    </waits>
</Flow>
